@import "variable";

header h1 {
  font-size: 3.5rem !important;
}

%fontMargin {
  font-family: "Rubik", sans-serif;
  margin: 0;
}
h1 {
  @extend %fontMargin;
  font-size: 4.5rem !important;
  font-weight: 600;
}
h2 {
  @extend %fontMargin;
  font-size: 4rem !important;
  font-weight: 600;
}
h3 {
  @extend %fontMargin;
  font-size: 2.5rem !important;
  font-weight: 400;
}
p {
  margin: 0;
}

@media screen and (max-width: 570px) {
  body {
    font-size: 1.6rem !important;
  }

  header h1 {
    font-size: 3.5 !important;
  }

  h1 {
    font-size: 3rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }
}
