@import "variable";

.textnumero__item1__numero a {
  text-decoration: none;
  background-color: $color-background-header;
  color: #fff;
  margin-left: 3rem;
  padding: 2rem;
}
.textnumero__item1__numero a:hover {
  background-color: $color-background_btn_active;
}

.textnumero__item2__email a {
  text-decoration: none;
  background-color: $color-background-header;
  color: #fff;
  margin-left: 3rem;
  padding: 2rem;
}
.textnumero__item2__email a:hover {
  background-color: $color-background_btn_active;
}
