$color-text-principale: #333;
$color-background-header: #0f8492;
$color-text-header_footer: #fff;
$color-background-footer: #736a90;
$color-text-header_footer_active: #d38085;
$color-background_btn: #0f8492;
$color-background_btn_active: #74a4b2;
$taille-text: 2rem;
$color-textEffet: yellow;
