$color-text-principale: #333;
$color-background-header: #1a237e; //#0f8492
$color-text-header_footer: #fff;
$color-background-footer: #cd4565; //#736a90
$color-text-header_footer_active: #d38085;
$color-background_btn: #1a237e;
$color-background_btn_active: #5c6bc0; //#74a4b2
$taille-text: 2rem;
$color-textEffet: yellow;
$color-background_infoform: #1976d2;
$color-background_Titreform: #9e85d2;
$color-background_inputform: #4dd0e1;
