$color-text-principale: #333;
$color-background-header: #0d1327;
$color-text-header_footer: #fff;
$color-background-footer: #b11f28;
$color-text-header_footer_active: #d38085;
$color-background_btn_active: #ea0029;
$taille-text: 2rem;
$color-textEffet: yellow;
